@font-face {
    font-family: "Circular";
    src: url('./CircularStd-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-BookItalic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-Medium.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('./CircularStd-MediumItalic.otf');
    font-weight: 600;
    font-style: italic;
}
